<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.baomu.mapper.PersonInfoMapper">
    
    <resultMap type="PersonInfo" id="PersonInfoResult">
        <result property="id"    column="id"    />
        <result property="fullName"    column="full_name"    />
        <result property="occupation"    column="occupation"    />
        <result property="salaryRange"    column="salary_range"    />
        <result property="age"    column="age"    />
        <result property="zodiac"    column="zodiac"    />
        <result property="province"    column="province"    />
        <result property="ethnicGroup"    column="ethnic_group"    />
        <result property="constellation"    column="constellation"    />
        <result property="education"    column="education"    />
        <result property="phone"    column="phone"    />
        <result property="workExperience"    column="work_experience"    />
        <result property="skillsAndStrengths"    column="skills_and_strengths"    />
        <result property="selfIntroduction"    column="selfIntroduction"    />
        <!-- 新增头像字段映射 -->
        <result property="avatar" column="avatar" />
    </resultMap>

    <!-- 修改PersonInfoPortfolioResult，增加证书集合 -->
    <resultMap id="PersonInfoPortfolioResult" type="PersonInfo" extends="PersonInfoResult">
        <collection property="portfolioList" ofType="Portfolio" column="id" select="selectPortfolioList"/>
        <collection property="certificateList" ofType="Certificate" column="id" select="selectCertificateByPersonId"/>
    </resultMap>
    <resultMap type="Portfolio" id="PortfolioResult">
        <result property="id"    column="id"    />
        <result property="personInfoId"    column="person_info_id"    />
        <result property="title"    column="title"    />
        <result property="photoUrlId"    column="photo_url_id"    />
    </resultMap>

    <!-- 新增证书结果集映射 -->
    <resultMap type="Certificate" id="CertificateResult">
        <result property="id" column="id"/>
        <result property="personInfoId" column="person_info_id"/>
        <result property="certificateName" column="certificate_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <sql id="selectPersonInfoVo">
        select id, full_name, occupation, salary_range, age, zodiac, province, ethnic_group, constellation, education, phone, work_experience, skills_and_strengths, selfIntroduction,avatar from person_info
    </sql>

    <select id="selectPersonInfoList" parameterType="PersonInfo" resultMap="PersonInfoResult">
        <include refid="selectPersonInfoVo"/>
        <where>  
            <if test="fullName != null  and fullName != ''"> and full_name like concat('%', #{fullName}, '%')</if>
            <if test="occupation != null  and occupation != ''"> and occupation = #{occupation}</if>
            <if test="salaryRange != null  and salaryRange != ''"> and salary_range = #{salaryRange}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="zodiac != null  and zodiac != ''"> and zodiac = #{zodiac}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="ethnicGroup != null  and ethnicGroup != ''"> and ethnic_group = #{ethnicGroup}</if>
            <if test="constellation != null  and constellation != ''"> and constellation = #{constellation}</if>
            <if test="education != null  and education != ''"> and education = #{education}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="workExperience != null  and workExperience != ''"> and work_experience = #{workExperience}</if>
            <if test="skillsAndStrengths != null  and skillsAndStrengths != ''"> and skills_and_strengths = #{skillsAndStrengths}</if>
            <if test="selfIntroduction != null  and selfIntroduction != ''"> and selfIntroduction = #{selfIntroduction}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
        </where>
    </select>
    
    <select id="selectPersonInfoById" parameterType="String" resultMap="PersonInfoPortfolioResult">
        select id, full_name, occupation, salary_range, age, zodiac, province, ethnic_group, constellation, education, phone, work_experience, skills_and_strengths, selfIntroduction,avatar
        from person_info
        where id = #{id}
    </select>

    <select id="selectPortfolioList" resultMap="PortfolioResult">
        select id, person_info_id, title, photo_url_id
        from portfolio
        where person_info_id = #{person_info_id}
    </select>

    <insert id="insertPersonInfo" parameterType="PersonInfo" useGeneratedKeys="true" keyProperty="id">
        insert into person_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="fullName != null and fullName != ''">full_name,</if>
            <if test="occupation != null">occupation,</if>
            <if test="salaryRange != null">salary_range,</if>
            <if test="age != null">age,</if>
            <if test="zodiac != null">zodiac,</if>
            <if test="province != null">province,</if>
            <if test="ethnicGroup != null">ethnic_group,</if>
            <if test="constellation != null">constellation,</if>
            <if test="education != null">education,</if>
            <if test="phone != null">phone,</if>
            <if test="workExperience != null">work_experience,</if>
            <if test="skillsAndStrengths != null">skills_and_strengths,</if>
            <if test="selfIntroduction != null">selfIntroduction,</if>
            <if test="avatar != null">avatar,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="fullName != null and fullName != ''">#{fullName},</if>
            <if test="occupation != null">#{occupation},</if>
            <if test="salaryRange != null">#{salaryRange},</if>
            <if test="age != null">#{age},</if>
            <if test="zodiac != null">#{zodiac},</if>
            <if test="province != null">#{province},</if>
            <if test="ethnicGroup != null">#{ethnicGroup},</if>
            <if test="constellation != null">#{constellation},</if>
            <if test="education != null">#{education},</if>
            <if test="phone != null">#{phone},</if>
            <if test="workExperience != null">#{workExperience},</if>
            <if test="skillsAndStrengths != null">#{skillsAndStrengths},</if>
            <if test="selfIntroduction != null">#{selfIntroduction},</if>
            <if test="avatar != null">#{avatar}</if>
         </trim>
    </insert>

    <update id="updatePersonInfo" parameterType="PersonInfo">
        update person_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fullName != null and fullName != ''">full_name = #{fullName},</if>
            <if test="occupation != null">occupation = #{occupation},</if>
            <if test="salaryRange != null">salary_range = #{salaryRange},</if>
            <if test="age != null">age = #{age},</if>
            <if test="zodiac != null">zodiac = #{zodiac},</if>
            <if test="province != null">province = #{province},</if>
            <if test="ethnicGroup != null">ethnic_group = #{ethnicGroup},</if>
            <if test="constellation != null">constellation = #{constellation},</if>
            <if test="education != null">education = #{education},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="workExperience != null">work_experience = #{workExperience},</if>
            <if test="skillsAndStrengths != null">skills_and_strengths = #{skillsAndStrengths},</if>
            <if test="selfIntroduction != null">selfIntroduction = #{selfIntroduction},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePersonInfoById" parameterType="String">
        delete from person_info where id = #{id}
    </delete>

    <delete id="deletePersonInfoByIds" parameterType="String">
        delete from person_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deletePortfolioByPersonInfoIds" parameterType="String">
        delete from portfolio where person_info_id in 
        <foreach item="personInfoId" collection="array" open="(" separator="," close=")">
            #{personInfoId}
        </foreach>
    </delete>

    <delete id="deletePortfolioByPersonInfoId" parameterType="String">
        delete from portfolio where person_info_id = #{personInfoId}
    </delete>

    <insert id="batchPortfolio">
        insert into portfolio( id, person_info_id, title, photo_url_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.personInfoId}, #{item.title}, #{item.photoUrlId})
        </foreach>
    </insert>




    <!-- 新增证书查询语句 -->
    <select id="selectCertificateByPersonId" parameterType="String" resultMap="CertificateResult">
        select id, person_info_id, certificate_name, create_time
        from certificate
        where person_info_id = #{personInfoId}
    </select>

    <!-- 新增批量插入证书语句 -->
    <insert id="batchCertificate">
        insert into certificate(id, person_info_id, certificate_name, create_time)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id}, #{item.personInfoId}, #{item.certificateName}, #{item.createTime})
        </foreach>
    </insert>

    <!-- 新增删除证书语句 -->
    <delete id="deleteCertificateByPersonId" parameterType="String">
        delete from certificate where person_info_id = #{personInfoId}
    </delete>

    <delete id="deleteCertificateByPersonInfoIds" parameterType="String">
        delete from certificate where person_info_id in
        <foreach item="personInfoId" collection="array" open="(" separator="," close=")">
            #{personInfoId}
        </foreach>
    </delete>

</mapper>